---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<fake_api_key>&en-US&page=1&query=asdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 04 Feb 2022 18:42:34 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<fake_api_key>&en-US&page=2&query=asdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":2,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 04 Feb 2022 18:42:34 GMT
recorded_with: VCR 6.0.0
