<center><%= button_to 'Create a New User', '/register', method: :get %></center>

<center><p>Existing Users:</p></center>
<center><% @users.each do |user| %>
  <p><%= link_to "#{user.email}'s Dashboard", "/users/#{user.id}/dashboard" %></p>
<% end %></center>